@font-face {
    font-family: 'Nippo';
    src: url('Assets/Fonts/Nippo/Nippo-Variable.woff2') format('woff2'),
        url('Assets/Fonts/Nippo/Nippo-Variable.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('Assets/Fonts/Quicksand/Quicksand-Variable.woff2') format('woff2'),
        url('Assets/Fonts/Quicksand/Quicksand-Variable.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #2193b0, #6dd5ed);
    margin: 0;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

#window {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 52vw;
    height: 85vh;
}

#weather_box {
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid black;
    background: none;
    position: relative;
}

#weather_heading {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
}

#first_section {
    width: 50vw;
    height: 10vh;
    align-content: center;
}

#search_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#search input {
    width: 30vw;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
}

#search_button button {
    width: 7vw;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    background-color: white;
}

#search_button button:hover {
    background-color: #ebe6e6;
}

#location_button button {
    width: 12vw;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    background-color: white;
}

#location_button button:hover {
    background-color: #ebe6e6;
}

#location_icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
    background-color: white;
}

#location_icon:hover {
    background-color: #ebe6e6;
}

#error {
    margin: 10px 0px 20px 80px;
    display: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#second_section {
    height: 67vh;
    font-family: 'Nippo', sans-serif;
    display: none;
}

#temp,
#city_name {
    font-size: 50px;
}

#first_half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#second_half {
    width: 60%;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 20px;
}

#weather_type {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 25vw;
    background: rgb(183 183 183 / 18%);
    backdrop-filter: blur(3px) saturate(100%);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.25);
    color: #111;
}

.font_size {
    font-size: 18px;
}

#other_parameters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 25vw;
    background: rgb(183 183 183 / 18%);
    backdrop-filter: blur(3px) saturate(100%);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.25);
    color: #111;
}

#other_parameters img {
    width: 50px;
    height: 50px;
}

#other_parameters div {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 55px;
}

#loading {
    display: none;
    text-align: center;
    margin: 20px 370px;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #000000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}